In [13]:
# Specify the index of the table you want to scrape
table_index = 0

# Read in the table from the webpage
table_list = pd.read_html('https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table', match='Summer Olympic Games', header=0, index_col=0)

# Select the table using the specified index
df = table_list[0]

df.head()

,Summer Olympic Games,Summer Olympic Games.1,Summer Olympic Games.2,Summer Olympic Games.3,Summer Olympic Games.4,Winter Olympic Games,Winter Olympic Games.1,Winter Olympic Games.2,Winter Olympic Games.3,Winter Olympic Games.4,Combined total,Combined total.1,Combined total.2,Combined total.3,Combined total.4
Team,,,,,,,,,,,,,,,
.mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Team (IOC code),No.,NaN,NaN,NaN,Total,No.,NaN,NaN,NaN,Total,No.,NaN,NaN,NaN,Total
Afghanistan (AFG),15,0.0,0.0,2.0,2,0,0.0,0.0,0.0,0,15,0.0,0.0,2.0,2
Algeria (ALG),14,5.0,4.0,8.0,17,3,0.0,0.0,0.0,0,17,5.0,4.0,8.0,17
Argentina (ARG),25,21.0,26.0,30.0,77,20,0.0,0.0,0.0,0,45,21.0,26.0,30.0,77
Armenia (ARM),7,2.0,8.0,8.0,18,8,0.0,0.0,0.0,0,15,2.0,8.0,8.0,18

In [17]:
summer = df.iloc[1:, :5]
summer

,Summer Olympic Games,Summer Olympic Games.1,Summer Olympic Games.2,Summer Olympic Games.3,Summer Olympic Games.4
Team,,,,,
Afghanistan (AFG),15,0.0,0.0,2.0,2
Algeria (ALG),14,5.0,4.0,8.0,17
Argentina (ARG),25,21.0,26.0,30.0,77
Armenia (ARM),7,2.0,8.0,8.0,18
Australasia (ANZ) [ANZ],2,3.0,4.0,5.0,12
...,...,...,...,...,...
Zimbabwe (ZIM) [ZIM],14,3.0,4.0,1.0,8
Independent Olympic Athletes (IOA) [IOA],3,1.0,0.0,1.0,2
Independent Olympic Participants (IOP) [IOP],1,0.0,1.0,2.0,3
Mixed team (ZZX) [ZZX],3,11.0,6.0,8.0,25
Totals,29,5463.0,5426.0,5893.0,16782

In [18]:
summer.columns = ['경기 수', '금', '은', '동', '계']
summer.head()

                        경기 수     금     은     동   계
Team
Afghanistan (AFG)         15   0.0   0.0   2.0   2
Algeria (ALG)             14   5.0   4.0   8.0  17
Argentina (ARG)           25  21.0  26.0  30.0  77
Armenia (ARM)              7   2.0   8.0   8.0  18
Australasia (ANZ) [ANZ]    2   3.0   4.0   5.0  12

In [21]:
print(summer.sort_values('금', ascending=False))

                                         경기 수       금       은       동      계
Team
Totals                                     29  5463.0  5426.0  5893.0  16782
United States (USA) [P] [Q] [R] [Z] [F]    28  1060.0   831.0   738.0   2629
Soviet Union (URS) [URS]                    9   395.0   319.0   296.0   1010
Great Britain (GBR) [GBR] [Z]              29   284.0   318.0   314.0    916
China (CHN) [CHN]                          11   262.0   199.0   174.0    635
...                                       ...     ...     ...     ...    ...
Paraguay (PAR)                             13     0.0     1.0     0.0      1
Olympic Athletes from Russia (OAR) [OAR]    0     0.0     0.0     0.0      0
San Marino (SMR)                           15     0.0     1.0     2.0      3
Saudi Arabia (KSA)                         12     0.0     2.0     2.0      4
Lebanon (LBN)                              18     0.0     2.0     2.0      4

[157 rows x 5 columns]

In [22]:
summer.to_excel('하계올림픽메달.xlsx')